# This file outlines the responsibilities associated with this code repository.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*  @baartch
